<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Bolt>
			<version>2.0.2.2</version>
		</Fishpig_Bolt>
	</modules>
	<global>
		<blocks>
			<bolt>
				<class>Fishpig_Bolt_Block</class>
			</bolt>
		</blocks>
		<helpers>
			<bolt>
				<class>Fishpig_Bolt_Helper</class>
			</bolt>
		</helpers>
		<models>
			<bolt>
				<class>Fishpig_Bolt_Model</class>
			</bolt>
		</models>
		<cache>
			<types>
				<bolt>
					<label>Full Page Cache</label>
					<description>Full page HTML cache files created by Bolt.</description>
					<tags>BOLT</tags>
				</bolt>
			</types>
		</cache>
		<events>
			<cataloginventory_stock_item_save_after>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>cataloginventoryStockItemSaveAfterObserver</method>
					</bolt>
				</observers>
			</cataloginventory_stock_item_save_after>
		</events>
	</global>
	<frontend>
		<events>
			<controller_action_predispatch>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_frontend</class>
						<method>setSessionDataObserver</method>
					</bolt>
					<bolt_formkey>
						<type>singleton</type>
						<class>bolt/observer_frontend</class>
						<method>applyTempFormKeyObserver</method>
					</bolt_formkey>
				</observers>
			</controller_action_predispatch>
			<controller_action_postdispatch>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_frontend</class>
						<method>setSessionDataObserver</method>
					</bolt>
				</observers>
			</controller_action_postdispatch>
			<checkout_cart_add_product_complete>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_frontend</class>
						<method>setSessionDataObserver</method>
					</bolt>
				</observers>
			</checkout_cart_add_product_complete>
			<controller_action_layout_generate_blocks_before>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_frontend</class>
						<method>minifyXmlTreeForHolePunchObserver</method>
					</bolt>
				</observers>
			</controller_action_layout_generate_blocks_before>
			<controller_front_send_response_after>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_frontend</class>
						<method>cacheResponseAfterSendingToBrowserObserver</method>
					</bolt>
				</observers>
			</controller_front_send_response_after>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_frontend</class>
						<method>handleHolePunchObserver</method>
					</bolt>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>
	<adminhtml>
		<events>
			<controller_front_send_response_before>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>injectWarningMessagesObserver</method>
					</bolt>
				</observers>
			</controller_front_send_response_before>
			<controller_action_postdispatch_adminhtml>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>refreshConfig</method>
						<note>Refresh the configuration file</note>
					</bolt>
				</observers>
			</controller_action_postdispatch_adminhtml>
			<adminhtml_cache_flush_all>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
							<method>flushCacheObserver</method>
					</bolt>
				</observers>
			</adminhtml_cache_flush_all>
			<adminhtml_cache_flush_system>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>flushCacheObserver</method>
					</bolt>
				</observers>
			</adminhtml_cache_flush_system>
			<adminhtml_cache_refresh_type>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>flushCacheObserver</method>
					</bolt>
				</observers>
			</adminhtml_cache_refresh_type>
			<controller_action_postdispatch_adminhtml_cache_cleanImages>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>flushCacheObserver</method>
					</bolt>
				</observers>
			</controller_action_postdispatch_adminhtml_cache_cleanImages>
			<controller_action_postdispatch_adminhtml_cache_cleanMedia>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>flushCacheObserver</method>
					</bolt>
				</observers>
			</controller_action_postdispatch_adminhtml_cache_cleanMedia>
			<admin_system_config_changed_section_bolt>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>invalidateCacheObserver</method>
					</bolt>
				</observers>
			</admin_system_config_changed_section_bolt>
			<catalog_product_save_after>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>catalogProductSaveAfterObserver</method>
					</bolt>
				</observers>
			</catalog_product_save_after>
			<catalog_category_save_after>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>catalogCategorySaveAfterObserver</method>
					</bolt>
				</observers>
			</catalog_category_save_after>
			<cms_page_save_after>
				<observers>
					<bolt>
						<type>singleton</type>
						<class>bolt/observer_adminhtml</class>
						<method>cmsPageSaveAfterObserver</method>
					</bolt>
				</observers>
			</cms_page_save_after>
		</events>
		<layout>
			<updates>
				<bolt>
					<file>bolt.xml</file>
				</bolt>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<bolt before="Mage_Adminhtml">Fishpig_Bolt_Adminhtml</bolt>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<bolt>
			<settings>
				<enabled>1</enabled>
				<disable_if>0</disable_if>
				<lifetime>0</lifetime>
				<compression>1</compression>
			</settings>
			<advanced>
				<allowed_modules>splash,splashpro,fseo,gls,product-az,wordpress,wp_addon_cpt,catalog,catalogsearch,cms,contacts,review,tag</allowed_modules>
			</advanced>
			<holepunch>
				<enabled>1</enabled>
				<cache>1</cache>
			</holepunch>
			<autorefresh>
				<catalog_product_save_after>1</catalog_product_save_after>
				<catalog_category_save_after>1</catalog_category_save_after>
				<cataloginventory_stock_item_save_after>0</cataloginventory_stock_item_save_after>
				<cms_page_save_after>1</cms_page_save_after>
			</autorefresh>
		</bolt>
	</default>
</config>