<?xml version="1.0"?>
<config>
	<tabs>
		<fishpig>
			<label>FishPig</label>
			<sort_order>200</sort_order>
		</fishpig>
	</tabs>
    <sections>
        <bolt translate="label" module="bolt">
            <label>Bolt - Full Page Cache</label>
            <tab>fishpig</tab>
            <sort_order>240</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<settings>
            		<label>Settings</label>
            		<sort_order>2</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>
            		<fields>
						<enabled>
            				<label>Enabled</label>
            				<sort_order>0</sort_order>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
						</enabled>
            			<disable_if>
            				<label>Disable</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>bolt/system_config_source_conditions</source_model>
            				<sort_order>2</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<depends><enabled>1</enabled></depends>
            			</disable_if>
            			<lifetime>
            				<label>Expiry - TTL</label>
            				<comment>The number of seconds before a cache file is refreshed.</comment>
            				<sort_order>6</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</lifetime>
            			<compression>
            				<label>Compression</label>
            				<comment>If yes, cache content will be compressed. Refresh Bolt cache after changing this option.</comment>
            				<sort_order>11</sort_order>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</compression>
            		</fields>
            	</settings>
            	<advanced>
            		<label>Advanced</label>
            		<sort_order>3</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>
            		<fields>
            			<allowed_modules>
            				<label>Cachable Modules</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>bolt/system_config_source_module</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</allowed_modules>
            			<cookies>
            				<label>Cookies</label>
            				<tooltip>The 'currency' cookie is added by default.</tooltip> 
							<frontend_model>bolt/system_config_form_field_cookies</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							<frontend_type>text</frontend_type>
            				<sort_order>6</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</cookies>
            			<excluded_parameters>
            				<label>Parameters to Exclude</label>
							<tooltip>The following paramters are added by default: ___store, ___from_store, isAjax, utm_source, utm_medium, utm_term, utm_content, utm_campaign.</tooltip>
            				<sort_order>16</sort_order>
							<frontend_model>bolt/system_config_form_field_param</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</excluded_parameters>
            			<excluded_uris>
            				<label>URI's to Exclude</label>
            				<tooltip><![CDATA[The following regular expressions are included by default:<br/>
&nbsp; /^checkout\/.*$/'<br/>
&nbsp; /^customer\/.*$/'<br/>
&nbsp; /^api\/.*$/]]></tooltip>
							<frontend_model>bolt/system_config_form_field_uri</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
            				<sort_order>21</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</excluded_uris>
            			<mobile_detect>
            				<label>Multiple Themes</label>
							<tooltip>Select Yes if you have different themes for mobiles, tablets and desktops.</tooltip>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!--
							<frontend_model>bolt/system_config_form_field_useragent</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							-->
            				<sort_order>51</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</mobile_detect>
            		</fields>
            	</advanced>
            	<holepunch>
            		<label>Hole Punch</label>
            		<comment><![CDATA[<p>Stop specific blocks being cached by entering the block name or type below. After making any changes, please refresh your cache to activate.</p><p>The 'header' block is hole punched by default so you do not need to add it here.</p>]]></comment>
            		<sort_order>4</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>
            		<fields>
            			<enabled>
            				<label>Enabled</label>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</enabled>
						<cache>
            				<label>Cache</label>
            				<comment>If enabled, hole punched content will be cached.</comment>
            				<sort_order>6</sort_order>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
						</cache>
            			<blocks>
            				<label>Blocks</label>
							<frontend_model>bolt/system_config_form_field_block</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
            				<sort_order>11</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<depends><enabled>1</enabled></depends>
            			</blocks>
            		</fields>
            	</holepunch>
            	<autorefresh>
            		<label>Auto-Refresh</label>
            		<sort_order>11</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>
            		<expanded>1</expanded>
            		<fields>
            			<catalog_product_save_after>
            				<label>Product</label>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>11</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</catalog_product_save_after>
            			<catalog_category_save_after>
            				<label>Category</label>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>11</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</catalog_category_save_after>
            			<cataloginventory_stock_item_save_after>
            				<label>Stock Item</label>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>16</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</cataloginventory_stock_item_save_after>
            			<cms_page_save_after>
            				<label>CMS Page</label>
            				<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>21</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</cms_page_save_after>
            		</fields>
            	</autorefresh>
            </groups>
        </bolt>
    </sections>
</config>